/* Estilo general de la aplicación */
.root {
    -fx-font-family: 'Bodoni MT', sans-serif;
    -fx-background-color: #7d7d7d;
}

/* Título de la aplicación */
#title {
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}
#lblPropiedades{
    -fx-font-size: 26px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/* Estilo para los labels */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

/* Estilo para las tablas */
.table-view {
    -fx-background-color: #545454;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}

.table-view .column-header-background {
    -fx-background-color: #555555;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: transparent transparent #ffffff transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.table-view .cell {
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.table-view .cell:filled:selected {
    -fx-background-color: #0078d7;
    -fx-text-fill: #000000;
}

/* Estilo para botones */
.button {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0.0, 0.0);
}

.button:hover {
    -fx-background-color: #005bb5;
}

.button:pressed {
    -fx-background-color: #003f8a;
}

#btn_Cancelar {
    -fx-background-color: #ff4c4c;
}

#btn_Cancelar:hover {
    -fx-background-color: #e63c3c;
}

/* Campos de texto */
.text-field, .text-area, .date-picker {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
}

.text-field:focused, .text-area:focused, .date-picker:focused {
    -fx-border-color: #0078d7;
}

/* Estilo para ImageView */
.image-view {
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
}

/* VBox y HBox estilos */
.vbox, .hbox {
    -fx-alignment: center;
    -fx-spacing: 15px;
}

.vbox {
    -fx-padding: 10px 0 10px 0;
}

/* GridPane para formularios */
.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 15px;
    -fx-alignment: center-left;
}

/* Área de texto de descripción completa */
#ta_All_Propiedades {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-text-fill: #333;
}
