* {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 13px;
}

VBox {
    -fx-background-color: linear-gradient(to bottom, #a5f1e1, #043334); /* Degradado suave de blanco a azul claro */
    -fx-border-color: #d3d3d3; /* Borde suave */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px; /* Espaciado interno */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 4); /* Sombra */
    -fx-spacing: 20px; /* Separación uniforme */
}


Label#title {
    -fx-font-size: 50px; /* Tamaño grande */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #000000; /* Color llamativo (morado) */
    -fx-alignment: center; /* Centrado */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-effect: dropshadow(gaussian, rgba(104, 95, 183, 0.7), 15, 0.7, 0, 5); /* Sombra suave */
}


TextField, PasswordField {
    -fx-border-color: transparent;
    -fx-border-radius: 10px; /* Bordes redondeados */
    -fx-background-radius: 10px;
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-padding: 10px;
    -fx-prompt-text-fill: #a0a0a0; /* Color del texto de placeholder */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2); /* Sombra para hacerlo más llamativo */
    -fx-transition: 0.3s ease-in-out; /* Transición suave para los cambios */
}

/* Efectos al enfocar (focus) */
TextField:focused, PasswordField:focused {
    -fx-border-color: #6c63ff; /* Borde morado cuando se enfoca */
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(108, 99, 255, 0.6), 10, 0.5, 0, 3); /* Sombra morada */
}



Button {
    -fx-background-color: linear-gradient(to bottom, #453fb0, #1913be);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 10px;
    -fx-min-width: 100px;
    -fx-alignment: CENTER;
}

Button:hover {
    -fx-background-color: linear-gradient(to bottom, #201ae7, #a39eef);
}

Button:pressed {
    -fx-background-color: #3e3abf;
}


Button#btn_invitado {
    -fx-background-color: transparent;
    -fx-text-fill: #07c0ea;
    -fx-font-style: italic;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-padding: 10px 20px;
    -fx-min-width: 120px;
}

Button#btn_invitado:hover {
    -fx-background-color: rgba(42, 40, 103, 0.1);
    -fx-text-fill: #0d096b;
}


Button#btn_close {
    -fx-background-color: linear-gradient(to bottom, #792020, #750606);
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-min-width: 100px;
}

Button#btn_close:hover {
    -fx-background-color: linear-gradient(to bottom, #da1d1d, #ef9a9a);
}
